/* Etiquetas */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #4b4b4b;
    color: lightgray;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 0;
}
h1 {
    text-align: center;
    font-size: 28pt;
}

#subtitulo {
    text-align: center;
}

h2 {
    font-size: 15pt;
}

h5 {
    text-align: center;
    font-weight: bold;
    box-shadow: 0 -0.5px rgba(128, 128, 128, 0.45), 0 0.5px rgba(128, 128, 128, 0.45);
    padding: 10px;
}

.tituloConLineaDivisoria {
    border-top: 1px solid gray;
    padding-top: 10px;
    width: auto;
}

section {
    p {
        font-size: 10pt;
    }
    ul li {
        font-size: 10pt;
        line-height: 25px;
    }
}

p {
    padding: 2px;
    font-size: 11pt;
    line-height: 2em;
}

main {
    background-color: lightgray;
    padding: 10px 15px;
    color: #333333;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    backdrop-filter: blur(5px);
    width: 1700px;
}

.volver {
    display: inline-block;
    padding: 10px;
    margin: 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #333333;
    background-color: #777777;
    width: fit-content;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    a {
        color: white;
        text-decoration: none;
    }
    cursor: pointer;
    transition: background-color 300ms ease;
}
.volver:hover {
    background-color: #4d4d4d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    box-sizing: content-box;
 }
.anexosYejercicios {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.anexosYejercicios ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 2px;
    margin: 4px auto;
    max-width: 750px;
    width: 100%;
}

.anexosYejercicios ul li {
    display: flex;
    justify-content: center;
    flex: 1 1 260px;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 2px;
    padding: 4px;
}

.anexosYejercicios ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 250ms ease;
}

.anexosYejercicios ul li a:hover {
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
    cursor: pointer;
}

.anexosYejerciciosAside {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.anexosYejerciciosAside ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 2px;
    margin: 4px auto;
    max-width: 750px;
    width: 100%;
}

.anexosYejerciciosAside ul li {
    display: flex;
    flex: 1 1 260px;
    width: 100%;
    margin: 2px;
    padding: 4px;
}

.anexosYejerciciosAside ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    transition: background-color 250ms ease;
}

.anexosYejerciciosAside ul li a:hover {
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
    cursor: pointer;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    width: 100%;
}


.seccionPrincipal {
    flex: 3;
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid #939393;
    border-top: 1px solid #939393;
}

aside.menuDerecho {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid #939393;
}

footer {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
}

button {
    margin: 10px;
    padding: 5px;
    background-color: #c3c3c3;
    border-radius: 5px;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

code {
    background-color: #444444;
    padding: 5px;
    border-radius: 3px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 2px #888888;
}

.code-AnexosTemas {
    background: #a8a8a8;
    padding: 5px;
    border-radius: 3px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 2px #888888;
}

fieldset {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #333333;
    legend {
        font-family: Arial, Helvetica, sans-serif;
        padding: 6px;
        border: 1px solid lightgray;
        border-top-color: #4b4b4b;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
}

form {
    padding: 10px;
    border-radius: 5px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 2px #333333;
    width: 600px;
}

label {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #525252;
    display: block;
    margin-bottom: 10px;
    width: fit-content;
    box-shadow: 4px 4px 2px #333333;
}

input {
    border-radius: 3px;
    border: black solid 1px;
    padding: 6px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 4px 4px 2px #333333;
}

input[type=text] {
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 4px 4px 2px #333333;
}

input[type=submit] {
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 2px 2px 2px #3c3c3c;
}

input[type=radio] {
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 2px 2px 2px #333333;
}

input[type=file] {
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 2px 2px 2px #333333;
}

input[type=number] {
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 2px 2px 2px #333333;
}

input[type=checkbox] {
    padding: 5px;
    border-radius: 10px;
    border: black solid 1px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 2px 2px 2px #333333;
}

textarea {
    border-radius: 3px;
    border: black solid 1px;
    padding: 6px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 2px 2px 2px #333333;
}

div {
    width: fit-content;
}

select {
    border-radius: 3px;
    border: black solid 1px;
    padding: 4px;
    margin: 5px;
    background: lightgray;
    width: auto;
    box-shadow: 2px 2px 2px #333333;
}

/* Estilo de las opciones */
select option {
    color: lightgray;
    background: gray;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333333;
}